.hd{
    width: 100%;
    min-width: 800px;
    height: 72px;
    max-width: 1024px;
    margin:0 auto;
    overflow: hidden;
    box-shadow: 0 1px 0 0 #dddddd;

    &_logo{
        overflow: hidden;
        margin:16px 0;
        float: left;
        &_img{
            width: 160px;
            height: 40px;

            &:hover{
                border-bottom: solid 3px #102f80;
            }
        }
    }

    &_nav{
        float: right;
        height: 72px;
        width: 600px;

        &_container{
            display: flex;
            justify-content: space-between;
        }

        & li{
            height: 72px;
            padding: 14px 0;
            box-sizing: border-box;
        }

        &_item{
            height: 44px;
            font-size: 18px;
            font-weight: bold;
            box-sizing: border-box;
            padding: 10px 1px 0 1px;
            cursor: pointer;

            &:hover{
                border-bottom: solid 3px #102f80;
            }

            &--active{
                border-bottom: solid 3px #102f80;
            }
        }

        &_apply{
            height: 40px;
            line-height: 40px;
            width: 120px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            margin:12px 0 12px 15px;
            border: 3px solid #102f80;

            &:hover{
                border-bottom: solid 3px #102f80;
                background-color: #102f80;
                color: white;
            }

            &:active{
                border-bottom: solid 3px #102f80;
                background-color: #001f70;
            }
        }
    }
}
