.location{
    &_bus{
        position: absolute;
        left: 722px;
        top: 0;
    }

    &_map{
        width: 700px;
        height: 560px;
        float: left;
        position: absolute;
        z-index: 999;

        &_box{
            margin: 40px 0;
            overflow: hidden;
            width: 1024px;
            height: 560px;
            position: relative;
        }

        &_loading{
            position: absolute;
            line-height: 560px;
            width: 700px;
            top:0;
            left: 0;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            z-index: 998;
        }
    }

    &_container{
        width: 1024px;
        margin:0 auto;
        padding-top: 52px;
    }

    &_addressLine{
        height: 52px;
        width: 100%;
        margin-bottom: 8px;

        &>p{
            font-size: 28px;
            line-height: 48px;
            font-weight: bold;
            border-bottom: solid 4px #102f80;
            padding: 0 2px;
            float: left;
        }

        &::after{
            clear:both;
            display: block;
            content:"";
        }
    }

    &_picture{
        width: 100%;
        height: auto;
        cursor: pointer;

        &:hover{
            filter: brightness(1.1);
        }

        &_box{
            width: 1024px;
            overflow: hidden;
            margin-bottom: 16px;
        }
        &_cutter{
            width: 330px;
            height: 200px;
            overflow: hidden;
            float: left;
            margin-right: 17px;

            &:last-child{
                margin:0;
            }
        }
    }

    &_footnote{
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 60px;
    }
}

.lightbox_location{
    position: fixed;
    z-index: 9999;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
