html{
    /*-ms-overflow-style: none;*/
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-family: sans-serif;
    position: relative;
}
input{
    border-style:none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
textarea{
    resize: none;
}
ul,li{
  list-style:none;
}
.displayNone{
    display: none;
}
p,h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
*:focus {
  outline: none;
}
body{
    font-family: sans-serif;
    font-size:15px;
    color: #102f80;
    letter-spacing: -1.5px;
}
input[type="time"]::-ms-clear {
    display: none;
}
input[type="time"]::-webkit-clear-button {
    display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
  font-size: 16px;
  font-weight: normal;
}
.displayNone{
    display: none !important;
}
.centering{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.subtitle{
    width: 100%;
    text-align: center;
    font-size: 24px;
    height: 34px;
    padding-top: 48px;
    font-weight: bold;
}
.dot--on{
    background-image: url("./assets/dot-on.svg") !important;
}
.lightbox, .lightbox_pre{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 9999;
}
.lightbox_wrapper,.lightbox_pre_wrapper{
        width: 90%;
        height: 90%;
    }
.lightbox_footnote,.lightbox_pre_footnote{
        color: #fafafa;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
.lightbox_img,.lightbox_pre_img{
        width: 100%;
        height: auto;
    }
.lightbox_img_cutter,.lightbox_pre_img_cutter{
            height: calc(100% - 60px);
            overflow: hidden;
        }
.hide{
    visibility: hidden;
}
.hd{
    width: 100%;
    min-width: 800px;
    height: 72px;
    max-width: 1024px;
    margin:0 auto;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 0 0 #dddddd;
            box-shadow: 0 1px 0 0 #dddddd;
}
.hd_logo{
        overflow: hidden;
        margin:16px 0;
        float: left;
    }
.hd_logo_img{
            width: 160px;
            height: 40px;
        }
.hd_logo_img:hover{
                border-bottom: solid 3px #102f80;
            }
.hd_nav{
        float: right;
        height: 72px;
        width: 600px;
    }
.hd_nav_container{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
.hd_nav li{
            height: 72px;
            padding: 14px 0;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
.hd_nav_item{
            height: 44px;
            font-size: 18px;
            font-weight: bold;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            padding: 10px 1px 0 1px;
            cursor: pointer;
        }
.hd_nav_item:hover{
                border-bottom: solid 3px #102f80;
            }
.hd_nav_item--active{
                border-bottom: solid 3px #102f80;
            }
.hd_nav_apply{
            height: 40px;
            line-height: 40px;
            width: 120px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            margin:12px 0 12px 15px;
            border: 3px solid #102f80;
        }
.hd_nav_apply:hover{
                border-bottom: solid 3px #102f80;
                background-color: #102f80;
                color: white;
            }
.hd_nav_apply:active{
                border-bottom: solid 3px #102f80;
                background-color: #001f70;
            }
/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.ft{
    height: 180px;
    width: 100%;
    background-color: #102f80;
    color: white;
}
.ft_wrapper{
        width: 1024px;
        height: 100%;
        margin: 0 auto;
    }
.ft_wrapper:after{
            clear:both;
            display: block;
            content: "";
        }
.ft_address{
        float: left;
        padding-top: 20px;
    }
.ft_address_companyLogo{
            height: 40px;
            line-height: 40px;
            margin-bottom: 20px;
        }
.ft_address_txt{
            line-height: 20px;
            margin-bottom: 4px;
            font-size: 12px;
            letter-spacing: -0.8px;
        }
.ft_link{
        float: right;
        padding: 74px 0;
    }
.ft_link img{
            margin-left: 20px;
        }
.ICA{
    width: 620px;
    height: 580px;
    background-color: white;
    position: relative;
    border-radius: 5px;
}
.ICA p{
        font-weight: bold;
    }
.ICA_title{
        margin-top: 60px;
        width: 100%;
        text-align: center;
        height: 34px;
        font-size: 30px;
        line-height: 34px;
    }
.ICA_txt{
        width: 500px;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 48px;
        font-size: 20px;
        line-height: 1.35;
        text-align: center;
    }
.ICA_input_container{
            width: 450px;
            margin: 0 auto;
        }
.ICA_input_container>input{
                width: 320px;
                height: 40px;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                padding-left: 16px;
                border: solid 1px #102f80;
                margin:0 0 20px 64px;
            }
.ICA_input_title{
            font-size: 16px;
            height: 18px;
            line-height: 18px;
            margin:0 0 8px 65px;
        }
.ICA_footnote{
        font-size: 13px;
        width: 100%;
        text-align: center;
    }
.ICA_submit{
        width: 320px;
        height: 60px;
        border: solid 3px #102f80;
        margin: 0 auto;
        margin-top: 52px;
        font-size: 20px;
        line-height: 60px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
.ICA_close{
        position: absolute;
        right: 24px;
        top: 24px;
        cursor: pointer;
    }
.PAC{
    width: 620px;
    height: 310px;
    background-color: white;
    border-radius: 5px;
}
.PAC p{
        font-weight: bold;
    }
.PAC_close{
        width: 320px;
        height: 60px;
        border: solid 3px #102f80;
        margin: 0 auto;
        margin-top: 52px;
        font-size: 20px;
        line-height: 60px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
.banner{
    width:100%;
    height: 440px;
    overflow: hidden;
    position: relative;
}
.banner>img{
        width: 100%;
        margin-top: -300px;
        -webkit-filter: brightness(0.5);
                filter: brightness(0.5);
    }
.banner>.upperTxt{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 126px;
        left: 0;
    }
.banner>.upperTxt>p{
            font-size: 32px;
            line-height: 48px;
            font-weight: bold;
            color: #ffffff;
        }
.description_wrapper{
        width: 100%;
        height: auto;
        padding: 44px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
.description_left{
        float: left;
        height: 52px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        line-height: 52px;
        border-bottom:solid 3px #102f80;
        font-weight: bold;
        font-size: 28px;
    }
.description_left_div{
            margin-right: 52px;
        }
.description_right{
        line-height: 32px;
        font-size: 20px;
        font-weight: bold;
    }
.description_right_div{
            margin-top: 6px;
        }
.course{
    float: left;
    width: 432px;
    height: 256px;
    position: relative;
}
.course:first-child{
        margin-right:32px;
    }
.course_wrapper{
        width: 100%;
        background-color: #f7f7f7;
        overflow: hidden;
    }
.course_container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 32px 0 60px 0;
    }
.course_container:after{
            clear:both;
            display: block;
            content: "";
        }
.course_apply{
        position: absolute;
        right: 44px;
        bottom: 40px;
        width: 120px;
        height: 40px;
        border: solid 2px #102f80;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
.course_apply:hover{
            -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            right: 45px;
            bottom: 41px;
        }
.course_apply:active{
            -webkit-box-shadow: none;
                    box-shadow: none;
            right: 44px;
            bottom: 40px;
        }
.course_price{
        position: absolute;
        bottom:85px;
        left: 36px;
        font-weight: bold;
        height: 23px;
        font-size: 22px;
        line-height: 23px;
        color: #ed3995;
    }
.recommend{
    width: 288px;
    height: 100px;
    margin-right: 80px;
}
.recommend_img{
        width: 288px;
        height: 28px;
        margin-bottom: 16px;
    }
.recommend_txt{
        line-height: 28px;
        height: 56px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
.recommend:last-child{
        margin-right: 0;
    }
.recommend_wrapper{
        width: 100%;
        margin-bottom:60px;
    }
.recommend_wrapper .subtitle{
            margin-bottom: 60px;
        }
.recommend_centerer{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 80px;
    }
.recommend_centerer:last-child{
            margin-bottom:0;
        }
.recommend_container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack:;
            -ms-flex-pack:;
                justify-content:
    }
.comment{
    text-align: center;
    font-size: 26px;
    line-height: 40px;
    height: 40px;
    font-weight: bold;
}
.comment_wrapper{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 60px 0 20px 0;
        background-color: #f7f7f7;
    }
.comment_container{
        margin:20px 0 12px 0;
    }
.comment_by{
        text-align: center;
        font-size: 16px;
        height: 20px;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
.comment_nav{
        margin-top: 56px;
        height: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
.comment_nav_item{
            margin-right: 2px;
            width: 12px;
            height: 12px;
            background-image: url("./assets/dot-off.svg");
            cursor: pointer;
        }
.comment_nav_item:last-child{
                margin-right:0;
            }
.curriculum{
    width: 100%;
    background-color: #f7f7f7;
}
.curriculum .subtitle{
        margin-bottom: 12px;
    }
.curriculum_description{
        line-height: 28px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
.curriculum_container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
.curriculum_part{
        margin-top: 80px;
        width: 960px;
    }
.curriculum_part_header{
            height: 26px;
            line-height: 26px;
        }
.curriculum_part_header:after{
                display:block;
                clear:both;
                content:"";
            }
.curriculum_part_header_title{
                float: left;
                font-size: 24px;
                font-weight: bold;
            }
.curriculum_part_header_time{
                float: right;
                font-size: 24px;
                font-weight: bold;
            }
.curriculum .bgWhite{
        background-color: white;
        padding-bottom: 60px;
    }
.curriculum .gallery{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
.curriculum .gallery .card{
            margin: 7px;
        }
.curriculum .gallery .cardTitle{
            font-size: 18px;
            line-height: 32px;
            font-weight: bold;
            margin-top: 12px;
            margin-bottom: 4px;
        }
.curriculum .gallery .cardTxt{
            height: 22px;
            font-size: 14px;
            font-weight: bold;

        }
.curriculum_table{
        border-top: solid 3px #102f80;
        border-bottom: solid 2px #102f80;
        margin:16px 0;
    }
.curriculum_table_liner{
            width: 960px;
            height: 72px;
            border-bottom: solid 1px #102f80;
        }
.curriculum_table_liner::after{
                clear:both;
                display: block;
                content:"";
            }
.curriculum_table_liner .CT_time{
                line-height: 72px;
                font-size: 18px;
                font-weight: bold;
                width: 160px;
                height: 72px;
                text-align: center;
                background-color: rgba(16, 47, 128, 0.05);
                float: left;
            }
.curriculum_table_liner .CT_whiteBack{
                height: 24px;
                line-height: 24px;
                background-color: white;
                padding: 2px;
                padding-right: 4px;
            }
.curriculum_table_liner .CT_contents{
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                width: 800px;
                height: 72px;
                float: left;
                padding: 24px 0 24px 50px;
                font-size: 18px;
                font-weight: bold;
            }
.curriculum_table_liner--dotted{
                background-image: url("./assets/img-eattile-bg.png");
            }
.curriculum_footnote{
        width: 960px;
        margin:0 auto;
        font-size: 18px;
        height: 24px;
        line-height: 24px;
        font-weight: bold;
        padding-bottom: 70px;
    }
.output_container{
        margin: 60px 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
.output::after{
        clear: both;
        display: block;
        content: "";
    }
.output_left{
        float: left;
    }
.output_right{
        width: 512px;
        margin-left: 16px;
        float: left;
        height: 1000px;
        position: relative;
    }
.output_txt{
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
    }
.output_txt--first{
            margin-bottom: 36px;
        }
.output_txt--last{
            position: absolute;
            bottom: 16px;
            width: 512px;
        }
.output_liner{
        height: 32px;
        margin-top: 16px;
    }
.output_liner>img{
            float: left;
            margin-right: 8px;
        }
.output_liner>p{
            float: left;
            font-size: 20px;
            line-height: 32px;
            font-weight: bold;
        }
.output_liner::after{
            clear: both;
            display: block;
            content: "";
        }
.output_liner--thick{
            height: 40px;
            margin-bottom: 16px;
        }
.output_liner--thick>img{
                margin-right: 0;
            }
.output_liner--thick>p{
                font-size: 21px;
                line-height: 40px;
            }
.output_footnote{
        margin-top: 16px;
        font-weight: bold;
        font-size: 17px;
    }
.faq{
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: solid 1px #102f80;
}
.faq:last-child{
        border:none;
        padding:0;
    }
.faq_container{
        width: 720px;
        margin: 0 auto;
        padding: 50px 0;
    }
.faq_q{
        height: 40px;
    }
.faq_q::after{
            clear:both;
            display: block;
            content: "";
        }
.faq_q_txt{
            float: left;
            width: 680px;
            line-height: 40px;
            font-size: 24px;
            font-weight: bold;
        }
.faq_simbol{
        float: left;
        width: 40px;
        height: 40px;
        line-height: 32px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
.faq_a{
        margin-top: 16px;
    }
.faq_a::after{
            clear:both;
            display: block;
            content: "";
        }
.faq_a_txt{
            float: left;
            width: 680px;
            font-size: 16px;
            line-height: 1.75;
            font-weight: bold;
        }
.location_bus{
        position: absolute;
        left: 722px;
        top: 0;
    }
.location_map{
        width: 700px;
        height: 560px;
        float: left;
        position: absolute;
        z-index: 999;
    }
.location_map_box{
            margin: 40px 0;
            overflow: hidden;
            width: 1024px;
            height: 560px;
            position: relative;
        }
.location_map_loading{
            position: absolute;
            line-height: 560px;
            width: 700px;
            top:0;
            left: 0;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            z-index: 998;
        }
.location_container{
        width: 1024px;
        margin:0 auto;
        padding-top: 52px;
    }
.location_addressLine{
        height: 52px;
        width: 100%;
        margin-bottom: 8px;
    }
.location_addressLine>p{
            font-size: 28px;
            line-height: 48px;
            font-weight: bold;
            border-bottom: solid 4px #102f80;
            padding: 0 2px;
            float: left;
        }
.location_addressLine::after{
            clear:both;
            display: block;
            content:"";
        }
.location_picture{
        width: 100%;
        height: auto;
        cursor: pointer;
    }
.location_picture:hover{
            -webkit-filter: brightness(1.1);
                    filter: brightness(1.1);
        }
.location_picture_box{
            width: 1024px;
            overflow: hidden;
            margin-bottom: 16px;
        }
.location_picture_cutter{
            width: 330px;
            height: 200px;
            overflow: hidden;
            float: left;
            margin-right: 17px;
        }
.location_picture_cutter:last-child{
                margin:0;
            }
.location_footnote{
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 60px;
    }
.lightbox_location{
    position: fixed;
    z-index: 9999;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.difference_summary{
        padding: 12px 0 70px 0;
        background-color: #f7f7f7;
    }
.difference_summary_container{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 1024px;
            margin: 0 auto;
            margin-top: 40px;
            -ms-flex-pack:distribute;
                justify-content:space-around;
        }
.difference_summary_box{
            width: 288px;
            height: 86px;
        }
.difference_summary_liner{
            overflow: hidden;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
.difference_summary_txt{
            display: inline-block;
            border-bottom: solid 3px #102f80;
            line-height: 40px;
            font-size: 22px;
            font-weight: bold;
        }
.difference_container{
        width: 720px;
        margin: 0 auto;
        padding: 80px 0;
    }
.difference_title{
        height: 28px;
        font-size: 20px;
        line-height: 1.4;
        border-bottom: solid 3px #102f80;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 16px;
    }
.difference_contents{
        margin-bottom: 48px;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.75;
    }
.a_wrapper{
    width: 100%;
    height: calc(100% - 252px);
    background-color: #f7f7f7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 0;
    overflow: auto;
}
.applyBox{
    width: 1024px;
    background-color: white;
    margin:0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 40px;
}
.applyBox .stepBox{
        overflow: hidden;
    }
.applyBox .stepBox>li{
            font-size: 18px;
            line-height: 1;
            letter-spacing: -0.8px;
            color: #bebebe;
            float: left;
        }
.applyBox .stepBox>.step{
            margin:0 4px;
            line-height: 1.33;
            font-weight: bold;
            cursor: pointer;
        }
.applyBox .stepBox>.step--now{
                color: #102f80;
            }
.applyBox .stepBox>.step:first-child{
                margin-left:0;
            }
.applyBox .nextStep{
        width: 320px;
        height: 40px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 0 auto;
        border: solid 2px #102f80;
        font-size: 14px;
        line-height: 38px;
        font-weight: bold;
        letter-spacing: -0.6px;
        text-align: center;
        color: #102f80;
        cursor: pointer;
    }
.stepWrapper{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 52px 0 60px 0;
    overflow: hidden;
}
.sR1 .d_date{
        color:#ed3995;
    }
.sR1 .frame{
        width: 439px;
        height: 400px;
        overflow: hidden;
        border: solid 2px #102f80;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        float: left;
    }
.sR1 .frame_padding{
            width: 395px;
            height: 356px;
            margin: 20px;
            overflow: hidden;
        }
.sR1 .frame img{
            width: 600px;
            height: auto;
            margin-left: -50px;
        }
.sR1 .info{
        float: left;
        width: 480px;
        margin-left: 24px;
    }
.sR1 .info .title{
            height: 32px;
            font-size: 24px;
            line-height: 1.33;
            letter-spacing: -1px;
            color: #102f80;
            font-weight: bold;
            margin-bottom: 28px;
        }
.sR1 .liner{
        margin-bottom: 24px;
        overflow: hidden;
    }
.sR1 .liner .subTitle, .sR1 .liner .text{
            width: 60px;
            height: 24px;
            font-size: 15px;
            line-height: 1.5;
            letter-spacing: -0.7px;
            color: #102f80;
            font-weight: bold;
            float: left;
            margin-right: 8px;
        }
.sR1 .liner .subTitle--applyNumber,.sR1 .liner .text--applyNumber{
                line-height: 40px !important;
            }
.sR1 .liner .text{
            width: auto;
        }
.sR1 .liner .applyNumber{
            border-radius: 5px;
            width: 82px;
            height: 40px;
            border: solid 1px #e0e0e0;
            font-size: 14px;
            color: #262e3e;
            padding-left: 12px;
        }
.sR2 .title{
        width: 100%;
        height: 24px;
        font-size: 24px;
        line-height: 1;
        letter-spacing: -1px;
        text-align: center;
        color: #102f80;
        margin-bottom: 40px;
        font-weight: bold;
    }
.sR2 .subTitle{
        width: 100%;
        height: 40px;
        background-color: #f4f4f4;
        font-size: 16px;
        line-height: 40px;
        padding-left: 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-weight: bold;
        margin-bottom: 24px;
        margin-top: 32px;
    }
.sR2 .text{
        font-size: 14px;
        line-height: 28px;
        height: 28px;
        margin-left: 20px;
        font-weight: bold;
    }
.sR3 .title{
        width: 100%;
        height: 24px;
        font-size: 24px;
        line-height: 1;
        letter-spacing: -1px;
        text-align: center;
        color: #102f80;
        margin-bottom: 16px;
        font-weight: bold;
    }
.sR3 .intro{
        width: 100%;
        font-size: 14px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-weight: bold;
    }
.sR3 .tabZone{
        width: 100%;
        margin: 80px 0 32px 0;
        padding-bottom: 20px;
        border-bottom: solid 1px #bebebe;
        overflow: hidden;
    }
.sR3 .tabZone>.tab{
            float: left;
            height: 32px;
            font-size: 28px;
            line-height: 1.14;
            letter-spacing: -1.2px;
            color: #bebebe;
            margin-left: 16px;
            padding-left: 16px;
            border-left: solid 1px #bebebe;
            font-weight: bold;
        }
.sR3 .tabZone>.tab--selected{
                color: #102f80 !important;
            }
.sR3 .tabZone>.tab:first-child{
                margin:0;
                padding:0;
                border:none;
            }
.sR3 .subTitle{
        margin-top: 32px;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
        font-weight: bold;
    }
.sR3 input{
        width: 220px;
        height: 40px;
        background-color: #ffffff;
        border: solid 1px #bebebe;
        margin-top: 4px;
        font-size: 16px;
        padding-left: 20px;
    }
.sR3 .input--long{
        width: 800px;
    }
.sR3 .divider{
        margin:40px 0;
        border-bottom: solid 1px #bebebe;
        width: 100%;
    }
.sR3 .hint{
        height: 24px;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: -0.6px;
        color: #ed3995;
        font-weight: bold;
    }
.sR3 .law{
        margin-top: 60px;
    }
.sR4 .title{
        height: 32px;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: -1.2px;
        color: #102f80;
        font-weight: bold;
    }
.sR4 .horLine{
        height: 20px;
        border-bottom: solid 1px #bebebe;
        margin-bottom: 20px;
    }
.sR4 .liner{
        overflow: hidden;
        height: 24px;
        margin-bottom: 16px;
    }
.sR4 .liner>p{
            float: left;
            font-weight: bold;
            line-height: 24px;
        }
.sR4 .d_className{
        height: 32px;
        line-height: 32px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
.sR4 .subTitle{
        width: 70px;
    }
.sR4 .priceZone{
        overflow: hidden;
        margin-bottom: 120px;
    }
.sR4 .priceZone>.title{
            float: left;
        }
.sR4 .priceZone>.finalPrice{
            float: right;
            font-size: 28px;
            line-height: 40px;
            font-weight: bold;
            margin-right: 16px;
        }
.sR4 .priceZone>.useCoupon{
            float: right;
            width: 120px;
            height: 40px;
            border: solid 2px #102f80;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            line-height: 36px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
        }
.sR4 .billMethod{
        height: 32px;
        line-height: 32px;
        font-size: 20px;
        font-weight: bold;
    }
.sR4 .accountTitle{
        margin-top: 28px;
        line-height: 32px;
        font-size: 20px;
        color: #ed3995;
        font-weight: bold;
        margin-bottom: 8px;
        text-decoration: underline;
    }
.sR4 .accountNo{
        line-height: 32px;
        font-size: 20px;
        color: #ed3995;
        font-weight: bold;
        margin-bottom: 28px;
        text-decoration: underline;
    }
.sR4 .hint{
        height: 28px;
        line-height: 28px;
        font-size: 16px;
        color: #ed3995;
        font-weight: bold;
    }
.sR4 .finalize{
        height: 36px;
        line-height: 36px;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
    }
.sR4 .finalPrice_shorten{
        height: 32px;
        line-height: 32px;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        margin: 40px 0;
        color: #ed3995;
    }
.sR4 .alCenter{
        text-align: center;
    }
.sR4 .finalPrice{
        color: #ed3995;
    }
.sR4 .cLine{
        margin-right: 12px;
        color: #102f80;
        font-size: 24px;
        text-decoration: line-through;
    }
.couponeZone{
    width: 380px;
    height: 372px;
    background-color: white;
    border: solid 1px #979797;
    position: relative;
}
.couponeZone>.closeCouponPop{
        position: absolute;
        top: 16px;
        right: 16px;
    }
.couponeZone>.title{
        margin-top: 36px;
        text-align: center;
        height: 32px;
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        margin-bottom: 54px;
    }
.couponeZone>.largeHint{
        margin-left: 30px;
        height: 20px;
        font-size: 16px;
        line-height: 1.43;
        letter-spacing: -0.6px;
        color: #102f80;
        font-weight: bold;
    }
.couponeZone>.couponCode{
        width: 300px;
        height: 48px;
        background-color: #ffffff;
        border: solid 1px #cdcdcd;
        margin: 4px 0 0 30px;
        padding-left: 20px;
        font-size: 28px;
        letter-spacing: 1px;
    }
.couponeZone>.smallHint{
        margin-left: 30px;
        height: 20px;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: -0.6px;
        color: #102f80;
        font-weight: bold;
        margin-bottom: 72px;
    }
.couponeZone>.applyCoupon{
        width: 320px;
        height: 40px;
        border: solid 2px #102f80;
        background-color: white;
        margin-left: 28px;
        cursor: pointer;
    }
